body {
  background-color: #022169;
  font-family: Georgia, New Times Roman, serif;
  color: white;
}

td {
  padding: 2px;
  font-size: 16px;
  color: white;
}

td:hover {
  color: beige;
}

a:link, a:visited {
  color: white;
}

a:hover, a:active {
  background-color: beige;
}
